<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinalProject"
        tools:targetApi="31">
        <activity
            android:name=".GradeCalc"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".SecondActivityCourse"
            android:exported="false"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Smart Link"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateUserActivity"
            android:label="Create a New User"
            android:windowSoftInputMode="adjustNothing"/>
        <activity
            android:name=".ToDoList"
            android:exported="true"
            android:label="Todo List"
            android:windowSoftInputMode="adjustNothing"/>


    </application>

</manifest>